.main-header-content{
    width: 1320px;

    aside{
        padding: 200px 0px;

        h1{
            font-weight: 600;
            color: #3A3A3A;
            line-height: 67px;
            b{
                font-weight: 700;
                color: #33BBE5;
            }
        }

        .name{
                font-size: 32px;
                font-style: normal;
                font-weight: 300;
        }

        .ui-ux{
            font-weight:700;
            color: #3A3A3A;
            font-size: 20px;
            b{
                font-weight: 700;
                color: #33BBE5;
            }
        }

        img{
            text-align: center;
        }
    }

    /* custom-styles.css */
.custom-padding {
    padding-left: 150px; /* Padding para dispositivos de escritorio */
  }
  
  @media (max-width: 767.98px) {
    .custom-padding {
        padding: 20px 10px;
    }
  }
  
}
