.main-header-content{
    width: 1400px;

    aside{
        padding: 200px 0px 0px 200px;

        h1{
            font-weight: 600;
            color: #3A3A3A;
            line-height: 67px;
            b{
                font-weight: 700;
                color: #33BBE5;
            }
        }

        img{
            text-align: center;
        }
    }

}