.main-form-content{
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #3A3A3A;
    
    .contact-form{
        margin-top: 150px;
        width: 900px;
            .form-group{
                input, textarea{
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                    border-radius: 0px;
                    background-color: #fbfbfb;
                    resize: none;
                }
            }

            .article-content{
                margin: 30px 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .ui-ux{
                    font-weight:700;
                    color: #3A3A3A;
                    font-size: 20px;
                }

                i{
                    font-size: 1.8rem;
                    color: #3A3A3A;;
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .main-form-content{
        .contact-form{
            margin-top: 0px;
        }
    }
      }