

.custom-container {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

.custom-row {
    max-width: 1400px;
    background-color: #efefef;
  }


    /* Tamaño de fuente por defecto (escritorio) */
  .skyblue-subtitle{
      font-weight: 700;
      font-size: 20px;
      color: #33BBE5;
  }
  
  /* Tamaño de fuente en dispositivos móviles (pantallas menores a 768px) */
  @media (max-width: 767px) {
    
  .skyblue-subtitle {
      font-size: 14px;
    }
  }


  /* Tamaño de fuente por defecto (escritorio) */
  .grey-subtitle{
    font-weight: 700;
    font-size: 48px;

    color: #404742;
}

/* Tamaño de fuente en dispositivos móviles (pantallas menores a 768px) */
@media (max-width: 767px) {
  .grey-subtitle {
    font-size: 35px;
  }
}

