@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600;700&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';

.main-wrapper{
  margin-top: 90px;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.no-margins {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

:root h1{
  font-size: 64px;
  font-weight: 600;
}

/* Primary BTN */

:root  .btn-portfolio-primary{
  border-radius: 50px;
  background-color: #33BBE5;
  border: none;
  margin: 5px;

  &:hover{
    background-color: #008BB7;
  }
}

:root .btn-portfolio-secondary{
  border-radius: 50px;
  background-color: #e533d6;
  border: none;
  margin: 5px;

  &:hover{
    background-color: #aa2b9f;
  }

}


@media (max-width: 768px) {

  .main-wrapper{
    margin-top: 0px;
  }
  
}