

// Estilos básicos de la barra de navegación
.nav {
    font-weight: 600;
    transition: background-color 0.3s ease; // Transición suave para el color de fondo
    background-color: none;

    .nav-link:last-child {
        color: rgb(255, 255, 255); // Cambia el color de los enlaces según el fondo
        }

    &.scrolled {
        background-color: rgba(0, 0, 0, 0.5); // Cambia este color al que desees cuando se haga scroll
        color: rgb(255, 255, 255); // Cambia el color del texto según el fondo

        .nav-link {
        color: rgb(255, 255, 255); // Cambia el color de los enlaces según el fondo
        }

        .navbar-nav .nav-link.active{
            color: #ffffff;
        }
    }


    .navbar-nav .nav-link.active{
        color: #000;
    }
}

.fullscreen-menu{
    display: none;
}



@media (max-width: 768px) {


    .nav {
       
        transition: background-color ; // Transición suave para el color de fondo
        position: static !important; /* Anula fixed-top */
        top: auto !important; /* Anula top: 0 */
        background-color: #000;
        color: #ffffff;
        transition: none;

        &.scrolled {
            background-color: #000; // Cambia este color al que desees cuando se haga scroll
            color: rgb(255, 255, 255); // Cambia el color del texto según el fondo
    
        .nav-link {
            color: rgb(255, 255, 255); // Cambia el color de los enlaces según el fondo
            }
    
            .navbar-nav .nav-link.active{
                color: #ffffff;
            }
        }
    

        .nav-link {
            color: rgb(255, 255, 255); // Cambia el color de los enlaces según el fondo
            }
    }

    .nav .navbar-nav .nav-link.active {
        color: #ffffff;
    }


    .fullscreen-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        color: #fff;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1050; /* Asegúrate de que esté encima de otros elementos */
        transition: opacity 0.3s ease;
    }
    
    .fullscreen-menu.show {
        display: flex;
        opacity: 1;
    }
    
    .fullscreen-content {
        text-align: center;
    }
    
    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #fff;
        color: #000;
    }
    
    
}



    .custom-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23969696' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

        width: 50px;
        height: 50px;
    
        .navbar-toggler-icon{
            display: none;
        }
    
        }
