
// Estilos básicos de la barra de navegación
.nav {
    font-weight: 600;
    transition: background-color 0.3s ease; // Transición suave para el color de fondo
    background-color: none;

    .nav-link:last-child {
        color: rgb(255, 255, 255); // Cambia el color de los enlaces según el fondo
        }

    &.scrolled {
        background-color: rgba(0, 0, 0, 0.5); // Cambia este color al que desees cuando se haga scroll
        color: rgb(255, 255, 255); // Cambia el color del texto según el fondo

        .nav-link {
        color: rgb(255, 255, 255); // Cambia el color de los enlaces según el fondo
        }

        .navbar-nav .nav-link.active{
            color: #ffffff;
        }
    }

    .navbar-nav .nav-link.active{
        color: #000;
    }
}

.fullscreen-menu{
    display: none;
}


@media (max-width: 768px) {

    .nav {
       
        transition: background-color ; // Transición suave para el color de fondo
        position: static !important; /* Anula fixed-top */
        top: auto !important; /* Anula top: 0 */
        color: #ffffff;
        transition: none;

        &.scrolled {
            background-color: #ffffff; // Cambia este color al que desees cuando se haga scroll
            color: rgb(255, 255, 255); // Cambia el color del texto según el fondo
        }

        .navbar-toggler {
            border: none;
        }

    }

    .fullscreen-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        color: #fff;
        display: none;
        justify-content: center;
        z-index: 1050; /* Asegúrate de que esté encima de otros elementos */
        transition: opacity 0.3s ease;

    }
    
    .fullscreen-menu.show {
        justify-content: flex-start;
        flex-direction: column;
        display: flex;
        opacity: 1;
    }
    
    .fullscreen-content {
       .list{
        display: block;
        margin-top: 60px;
        padding: 1rem;

            .btn-margin{
                color: rgb(255, 255, 255);
                padding: 1rem 0rem;
                border-bottom: solid 1px #292929;
            }
       }
    }

   .close-button-content{ 
    top: 25px;
    right: 15px;
    position: absolute;

    .close-button {
        padding: 0.25rem 0.75rem ;
            border: none;
            background: none;
           color: white;
           font-size: 1.25rem;
        }  
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }


    
    .no-scroll {
        overflow: hidden;
      }
}

@keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  .rotate-360 {
    animation: rotateIcon 0.5s linear; /* Cambia la duración y la repetición si es necesario */
  }