.main-portfolio-details-content {
    max-width: 1320px;
    margin: auto;
    .image-gallery {
        display: flex;
        justify-content: space-between;
        img{
            width: 100%;
        }

        .thumbnail {
            width: 100%;
            cursor: pointer;
            transition: transform 0.3s, border-color 0.3s;
            border: 2px solid #ddd;
            border-radius: 4px;

            &:hover {
                transform: scale(1.05);
            }
        }

        .full-screen-image {
           width: 1310px;
            object-fit: contain;
        }

        .btn-see-all{
            display: flex;
            justify-content: center;
        }
    }

    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2000;

        .full-screen-image {
            max-width: 100%;
            height: 100vh;
            object-fit: contain;
        }


        .left-arrow{
            border-radius: 5px 0px 0px 5px;
            border: none;
        }
        .right-arrow{
            border-radius: 0px 5px 5px 0px;
            border: none;
        }
    }
}

/* Add styles for mobile devices */
@media (max-width: 768px) { // Adjust the breakpoint as needed
    .thumbnail {
        cursor: default; // Change cursor to default to indicate no action
    }

    .lightbox {
        display: none; // Ensure lightbox is not visible on mobile devices
    }
}
