.main-portfolio-details-content {
    max-width: 1320px;
    margin: auto;
    .image-gallery {
        display: flex;
        justify-content: space-between;
        img{
            width: 100%;
        }

        .thumbnail {
            width: 100%;
            cursor: pointer;
            transition: transform 0.3s, border-color 0.3s;
            border-radius: 4px;

            &:hover {
                transform: scale(1.05);
            }
        }

        .full-screen-image {
           width: 1310px;
            object-fit: contain;
        }

        .btn-see-all{
            display: flex;
            justify-content: center;
        }
    }

    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2000;

        .full-screen-image {
            max-width: 100%;
            height: 100vh;
            object-fit: contain;
        }


        .left-arrow{
            border-radius: 5px 0px 0px 5px;
            border: none;
        }
        .right-arrow{
            border-radius: 0px 5px 5px 0px;
            border: none;
        }

        .close-lightbox{
            top: 0px;
            right: 0px;
            position: absolute;
            margin: 1.5rem;
            background: none;
            border: none;

            i{
                color: #959595;
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .thumbnail {
        cursor: default;
    }

    .lightbox {
        display: none;
    }
}
